.projects-page {

    .text-zone {
        position: absolute;
        top: 0%;
        width: 25%;
        left: 0%;
        bottom: 0%;
        //transform: translateY(-50%);
        vertical-align: middle;
        max-height: 100%;
        text-align: center;

        h1 {
            top: 45%;
            position: absolute;
            align-items: center;
            font-size: 53px;
            transform: translateY(50%);
            transform: translateX(65%);
            font-family: 'Coolvetica';
            color: #000000;
            font-weight: 400;
            animation: fadeIn 1s 1.25s backwards;
            text-decoration: none;
        }
    }

    .img-zone {
        position: absolute;
        //margin-top: 20px;
        //margin-bottom: 0px;
        overflow-y: auto;
        width: 75%;
        right: 0;
        height: 95vh;        
    
        .likes__relavance{
        width: 200px;
        margin: 20px;
        }
        

        .likes__list{
            position: absolute;
            top: 0px;
            left: 0px;
            box-sizing: border-box;
            overflow-y: visible;
            max-height:500px;
            height: auto;
            z-index:999;
            background:white;
            padding:10px;
            border:1px solid grey;
            box-shadow: 0 0 2px 2px grey;
            border-radius: 5;
            animation: fadeIn 0.5s backwards;
            }
    }

}
