.nav-bar {
    background: #181818;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo {
        color: #ffffff;
        font-size: 7px;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
        padding: 10px;
    
    }


    nav {    // styling for left navigation bar items (HOME, CONTACT, ABOUT)  
        //positions                       
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;

        a {         // links 
            font-size: 22px;
            color: #79797a;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i {  //transition
                transition: all 0.3s ease-out;
            }

            &:hover {   //hover above icon
                color: #ffffff;

                svg {
                    opacity: 0.1;
                }

                &:after {
                    opacity: 1;
                }
            }

            
            &:after {
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition:  all 0.3s ease-out;
            }

            &:first-child {    //HOME icon
                &:after {
                    content: "HOME";            
                }
            }
        }

        a.projects-link {
            &:after {
                content: "PROJECTS";
            }
        }

        a.contact-link {
            &:after {
                content: "CONTACT";
            }
        }

        a.about-link {
            &:after {
                content: "ABOUT";
            }
        }


        a.active {
            svg {
                color: #ffffff;
            }
        }
    }


    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;


        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 25px;
                line-height: 25px;
            
                &:hover svg {
                    color: #ffffff;
                }
            }
        }
    }
}